// Цвета категорий
$todo-color: #b3cbaa;
$inprogress-color: #d3bbd5;
$done-color: #c3e1e7;

// Остальные цвета
$header-bg: #aa9696;
$header-border: #928181;
$clock-bg: #d2caca;
$task-card-bg: rgba(200, 227, 189, 0.52);

// Шрифты и радиусы
$font-family: "Montserrat", sans-serif;
$radius: 12px;
$radius-lg: 15px;
$radius-xl: 20px;
